<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Universe Site Monitor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="robots" content="noindex,nofollow">
        <link href="@routes.Assets.at("admin/lib/template/style/bootstrap.css")" rel="stylesheet">
        <link rel="stylesheet" href="@routes.Assets.at("admin/lib/template/style/font-awesome.css")">
        <link href="@routes.Assets.at("admin/lib/template/style/style.css")" rel="stylesheet">
        <link rel="stylesheet" href="@routes.Assets.at("admin/durandal/css/durandal.css")" />
        <link rel="shortcut icon" href="@routes.Assets.at("favicon.png")">
    </head>
    <body style="min-height:1000px;">
        <div id="applicationHost" class="mainbar">
            <div class="splash">
                <i class="fa fa-spinner fa-spin">Loading ...</i>
            </div>
        </div>
        <script src="@routes.Assets.at("admin/lib/require/require.js")" data-main="/assets/admin/app/main"></script>
    </body>
</html>
