<section>
    <div class="content">
        <div class="matter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-head">
                                <div class="pull-left">Responses

                                </div>
                                <div class="pull-right">

                                    <button class="btn btn-primary btn-xs" data-bind="click: refresh">Refresh</button>
                                    <button class="btn btn-primary btn-xs" data-bind="click: prevPage,css: {disabled: noPrev}">Previous page</button>
                                    <button class="btn btn-primary btn-xs" data-bind="click: nextPage,css: {disabled: noNext}">Next page</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="widget-content" style="display: block;">

                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>Service Name</th>
                                        <th>Created</th>
                                        <th>Response Code</th>
                                        <th>Response Time (milis)</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody data-bind="foreach: responses">
                                    <tr>
                                        <td data-bind="text: serviceName"></td>
                                        <td data-bind="text: createdFormatted"></td>
                                        <td data-bind="text: responsecode"></td>
                                        <td data-bind="text: responsetime"></td>
                                        <td><button class="btn btn-primary btn-xs" data-bind="click: viewResponse">View Response</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
